management:
  endpoints:
    web:
      exposure:
        include: health,info
eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka

spring:
  kafka:
    bootstrap-servers: kafka:9092